.titulo {
    text-align: center;
}

.coluna-centro {
    text-align: center;
}

.coluna-6 {
    width: 6%;
}

.coluna-8 {
    width: 8%;
}

.coluna-10 {
    width: 10%;
}


.coluna-12 {
    width: 12%;
}